body {
    background-image: url(https://million-wallpapers.ru/wallpapers/1/64/285853157425055.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Jost', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
h1 {
    margin-top: 3rem;
    text-align: center;
}

button {
    font-family: inherit;
}

.searchbar {
    font-family: inherit;
    font-size: 30px;
    width: 330px;
    margin-left: 35%;
    height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.current-weather {
    color: white;
    margin-top: 3em;
    text-align: center;
    font-size: 38px;
    margin: inherit;
}

.weather-box {
    margin: auto;
    margin-top: 3rem;
    border-radius: 35px;
    height: auto;
    width: 50%;
}

.cloudy {
    background-image: url(https://99px.ru/sstorage/53/2015/09/tmb_141718_7864.jpg);
}

.clear {
    background-image: url(https://i.pinimg.com/originals/d5/3e/4d/d53e4d23e32aa3217312a22107a2f343.jpg);
}

.rainy {
    background-image: url(https://s002.radikal.ru/i200/1001/b6/eb73ace95848.jpg);
}